body {
  background: url() no-repeat center center fixed;
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
}

nav {
  margin-bottom: 0 !important;
}

li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 155px;
    text-align: justify;
    font-size: large;
}
#nnav{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#intro {
  font-family: fantasy;
  margin-top: 75px;
  margin-bottom: 100px;
  text-align: center;
  color: black;
}
#tra{
  color: black;
  margin-left: 65px;
  margin-bottom: 15px;
  text-align: justify;
  text-decoration: underline;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#info{
 color: black;
  margin-left: 100px;
  margin-bottom: 50px;
  text-align: justify;
  font-size: larger;
}

/* Carrusel */
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 50px;
}

.cards-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  margin: 0;
  padding: 0;
}

.card {
  flex: 0 0 300px;
  margin: 0 10px;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: black;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
}

.nav-btn:hover {
  background-color: black;
}

.prev { left: 10px; }
.next { right: 10px; }

#form{
  background-color: lightsteelblue;
  margin-top: 200px;
  margin-left: 800px;
  width: 500px;
  height: 400px;
  color: black;
border-radius: 10px;
margin-bottom: 40px;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-menu{
  display: none;
  position:fixed;
  top: 100%;
left: 0;
  width: 300px;
  height: 275px;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
.dropdown a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
html, body{
  height: 100%;
  margin: 0;
  padding: 0;

}
#map{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 200px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 1000;
}
.part{
  background-color: lightsteelblue;
  height: 50vh;
  
}